#city-form{
    background-color: black;
    width: 100%;
    height: 150px;
    color: white;
    padding: 2%;

    }

    form{
        margin-left: 10px;
        width: 100%;
    }


    .city-form-input{
        
        width:20%;
    }

    button{
        margin: 1%;
    }